.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;

}

.nav {

  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Error {
  width: 50%;
  border-radius: 0.5rem;
  border-color: darkred;
  border: 0.1rem solid;
  background: rgb(255, 194, 206);
  color: darkred;

}

.link {
  color: #61dafb;
}

