body {
  margin: 0;
  font-family: "JetBrains Mono";
  font-weight: 200;
}
.bold {
  font-weight: 400;
}

.dark-green {
  color:rgb(39, 86, 39);
}
.light-green {
  color: rgb(77, 178, 77);
}

.green-bg {
  background-color: rgb(152, 244, 152);
}

.red-bg {
  background-color: rgb(244, 152, 160);
}

input {
  font-family: "JetBrains Mono";
}