body {
  margin: 0;
  font-family: "JetBrains Mono";
  font-weight: 200;
}
.bold {
  font-weight: 400;
}

.dark-green {
  color:rgb(39, 86, 39);
}
.light-green {
  color: rgb(77, 178, 77);
}
/* ( . Y . ) */
.green-bg {
  background-color: rgb(152, 244, 152);
}

.red-bg {
  background-color: rgb(244, 152, 160);
}

input {
  font-family: "JetBrains Mono";
}

.warn {
  color: red;
}

.lower-index-size {
  font-size: 50%;
  font-weight: 400;
}

.divSDNF:hover +.hidden-1, .divSDNF:active + .hidden-1 {
  display: block;
  color:rgb(141, 141, 141);
}

.gluing:hover +.hidden-2, .divSDNF:active + .hidden-2 {
  display: block;
  color:rgb(141, 141, 141);
}